* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: black;
  height: 130px;
  background-size: cover;
  background-position: center;
  border-bottom: #dbca08 6px solid;
}

ul {
  padding-top: 20px;
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.8s ease;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}
.logo img {
  float: left;
  width: 120px;
  height: auto;
}

.main {
  max-width: 1000px;
  margin: auto;
}

article#main-col {
  padding-top: 20px;
  width: 65%;
}

.dark {
  padding: 15px;
  background: #000;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
